<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div id="Content">
    <form class="login-form" action="/login" method="POST">
        <fieldset>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <legend>Login</legend>
            <p>
                <label for="id">아이디</label>
                <input id="id" type="text" name="id"/>
            </p>
            <p>
                <label for="password">암 호</label>
                <input id="password" type="password" name="password"/>
            </p>
            <p>
                <input id="login" type="submit" value="로그인"/>
            </p>
        </fieldset>
    </form>
</div>
</body>
</html>